/* overrides user agent stylesheet */
a {
  text-decoration:none;
}
.navbar{
  background:var(--customBlue);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.nav-header a {
  color: var(--customTaupe);

}
.logo-img span.text{
  font-family: 'Rock Salt', cursive;
  font-size: 23px;
  color: var(--customTaupe);
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover { /* toggle btn */
  cursor: pointer;
}
.logo-btn { /* toggle btn */
  color: var(--customTaupe);
  font-size: 1.5rem;
}
.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 216px;
}
.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: normal;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover, svg:hover, .logo-img:hover span {
  color: var(--customCream) !important;
}
div.logo-img:hover img { 
  background:url('../images/icon-earrings.svg');
}
.nav-social-links {
  display: none;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
    align-items:center;
  }
}
@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--customTaupe);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--customCream);
    transform: translateY(-5px);
  }
}
